
mysql/mysql_data/
.idea/dataSources.xml
.idea/dataSources/5c390ec8-ab07-4a4e-8637-d68eef4e18f8.xml
.idea/dataSources/5c390ec8-ab07-4a4e-8637-d68eef4e18f8/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/5c390ec8-ab07-4a4e-8637-d68eef4e18f8/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/5c390ec8-ab07-4a4e-8637-d68eef4e18f8/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
