language: generic

sudo: required

services:
  - docker

after_success:
  - docker build -t chulgs15/docker-angular-frontend ./frontend
#  - docker build -t chulgs15/docker-springboot-backend ./backend
  - docker build -t chulgs15/docker-nginx ./nginx

  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin

  - docker push chulgs15/docker-angular-frontend
#  - docker push chulgs15/docker-springboot-backend
  - docker push chulgs15/docker-nginx

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-angular-springboot-app"
  env: "Dockerangularspringbootapp-env "
  bucket_name: elasticbeanstalk-us-east-2-267929877047
  bucket_path: "docker-angular-springboot-app"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_ACCESS_SECRET_KEY