version: "3"
services:
  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    container_name: app_mysql
    ports:
      - 3306:3306

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - /app/node_modules
      - ./frontend:/app

  nginx:
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - 80:80

  backend:
    restart: on-failure
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: app_backend
    ports:
      - 8080:8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://app_mysql:3306/myapp?serverTimezone=UTC&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: scott
      SPRING_DATASOURCE_PASSWORD: 123456



