version: "3"
services:
  frontend:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    volumes:
      - /app/node_modules
      - ./frontend:/app
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    ports:
      - 80:80
  backend:
    build:
      dockerfile: Dockerfile.dev
      context: ./backend
    container_name: app_backend
  mysql:
    build: ./mysql
    restart: unless-stopped
    container_name: app_mysql
    ports:
      - 3306:3306
    volumes:
      - ./mysql/mysql_data:/var/lib/mysql
      # - ./mysql/sqls/:/docker-entrypoint-initdb.d/
    environment:
      MYSQL_USER: scott
      MYSQL_PASSWORD: tiger
      MYSQL_DATABASE: myapp
      MYSQL_ROOT_PASSWORD: 123456
      TZ: Asia/Seoul
