<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="snav.toggle()"
        (document:keydown.alt.m)="snav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Ebiz</span>
      <span class="toolbar-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with heart icon"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/home/oracle-dev" (click)="snav.toggle()"
          >Oracle Dev.</a
        >
        <a
          mat-list-item
          routerLink="/home/oracle-deploy"
          (click)="snav.toggle()"
          >Deployment</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
