<div [@myInsertRemoveTrigger]="isShown ? 'open' : 'closed'" *ngIf="isShown">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Enter your ID</mat-label>
        <input
          matInput
          placeholder="comscg"
          [formControl]="id"
          required
          autofocus
        />
        <mat-error *ngIf="id.invalid">{{ getIdErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" [formControl]="password" required />
        <mat-error *ngIf="password.invalid">{{
          getIdErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="isLogin"
        (click)="login()"
      >
        Login
      </button>
    </mat-card-content>
  </mat-card>
</div>
